* {
  transition: 0.2s all ease-in-out;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  gap: 2.4rem;
}

fieldset {
  display: flex;
  justify-content: start;
  align-items: stretch;
  width: 100%;
  gap: 2rem;
}

fieldset label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

button {
  align-self: flex-end;
}

.adressArea {
  display: flex;
  width: 100%;
  gap: 3.2rem;
}

.column1,
.column2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.referencie_area,
.referencie_area label {
  display: flex;
  flex-direction: column;
  width: 100%;
}
form,
.fieldSetText,
.fieldSetText label {
  width: 100%;
  height: 100%;
}

#sobre {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  line-height: 1;
  vertical-align: text-top;
  text-align: top;
}

span {
  height: 2px;
  width: 100%;
  background-color: #f0f2f6;
}

.dataArea {
  display: flex;
  flex-direction: column;
}

.checkAdreassArea {
  display: flex;
  height: 100%;
  align-items: center;
}

.dataArea input,
.checkAdreassArea input {
  background-color: transparent;
  font-weight: 700;
  font-size: 1rem;
  color: #5357b1;
}

.checkAdreassArea {
  display: flex;
  flex-direction: row;
  flex: 2 40%;
}

.footerType {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.credits {
  display: flex;
  line-height: 1.6rem;
  flex-direction: column;
  justify-content: space-between;
}

.succesAreButton {
  width: 50%;
  height: fit-content;
  display: flex;
  justify-content: end;
  align-items: center;
}

input.sucess {
  color: #00ae63;
}
